@import "../variables";

h2 {
    margin-bottom: .5rem;
}

.paragraph {
    margin-bottom: 1rem;
}

.banner {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .payment-options {

        padding-left: 1rem;

        .basic-img-container {
            padding-bottom: 1rem;
        }

        li {
            padding-bottom: 1rem;
        }
    }
}


.charges-container {
    margin: 0 auto;
    padding: 0 20px;
    .subcontainer {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        justify-content:space-between;
        line-height: 1.1em;
        text-align: right;
        padding-bottom: .2rem;
    }

    .price {
        flex-basis: 40%;
    }

    .subtotal, .total {
        font-size: large;
        font-weight:600;
    }

    .surcharge {
        line-height: 1.5rem;
    }

    .total {
        padding-top: .4rem;
        border-top: 1px solid #ccc;
    }
}




.form-container {
    margin: auto;
    display: grid;
    grid-column-gap: 10px;
    max-width: 640px;
    padding: 20px;
    color: #707070;

    &.payment-container {
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: 90px 90px 90px 90px 90px 90px;
        grid-template-areas:
        "number number number number number number"
        "exp-month exp-month exp-year exp-year security security"
        "street street street street street street"
        "apartment apartment apartment apartment apartment apartment"
        "zip zip city city state state"
        ;
    }
    &.personal-container {
        grid-template-columns: auto auto;
        grid-template-rows: 90px 90px;
        grid-template-areas:
        "company company"
        "fname lname"
        "email phone"
        ;
    }

    .field-container input {
        box-sizing: border-box;
    }

    .field-container {
        position: relative;
    }

    label {
        padding-bottom: 5px;
        font-size: 13px;
    }

    input {
        margin-top: 3px;
        padding: 15px;
        font-size: 16px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #dcdcdc;
    }

    .ccicon {
        height: 38px;
        position: absolute;
        right: 6px;
        top: calc(50% - 17px);
        width: 60px;
    }

}
