@import "../variables";

h2 {
    margin-bottom: .5rem;
}

.paragraph {
    margin-bottom: 1rem;
}

.banner {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .payment-options {

        padding-left: 1rem;

        .basic-img-container {
            padding-bottom: 1rem;
        }

        li {
            padding-bottom: 1rem;
        }
    }
}
